{% extends 'base.html.twig' %}

{% block title %}Eliminar proveedor{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="admin__container">
            <div class="header__container">
                <a href="{{ path('index') }}" class="link__item">Ir al inicio</a>
            </div>
            <div class="main__container">
            </div>
        </div>
    </div>

{% endblock %}